
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafcf9;
  width: 30%;
  border-radius : 6px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  background-color: #10b8d1;
  color: white;
  font-family : Impact;
  font-size : 12px;
  padding : 5px;
  padding-left : 12%;
  padding-right : 12%;
  margin-top : 10px;
  margin-bottom : 10px;
  transition-duration: 0.4s;
  border:none;
  border-radius : 4px;
}

.close:hover{
  background-color: #109597;
  color:  #f2f2f2;
}
.close:focus {
  color:  #ffffff;
  cursor: pointer;
}


.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {top:100%; opacity: 0} 
  to {top: 50%;; opacity: 1}
}

@keyframes slideIn {
  from {top:100%; opacity: 0}
  to {top: 50%;; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

